

/* Header */
#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
	$borderSize: 2px;

  > * {
    position: relative;
    margin-top: 2rem;
  }

  > nav:before {
    content: '';
    display: block;
    position: absolute;
    top: calc(-2rem);
    left: calc(50% - 2.5px);
    width: $borderSize;
    height: calc(2rem + 1px);
    background: #ffffff;
  }

  #lily-logo {
    width: 6rem;
    height: 6rem;
    border: solid 2*$borderSize white;
    border-radius: 100%;
  }

	nav {
		ul {
			display: flex;
			list-style: none;
			padding-left: 0;
			margin-bottom: 0;
			border: solid $borderSize white;
			border-radius: 5px;
			li {
		    border-left: solid $borderSize white;

				&:first-child {
					border-left: 0;
				}

					a {
						font-size: 12pt;
						display: block;
			      min-width: 7.5rem;
			      height: 2.75rem;
			      line-height: 2.75rem;
			      padding: 0 1.5rem 0;
			      text-transform: uppercase;
			      letter-spacing: 0.2rem;
			      border-bottom: 0;
						text-decoration: none;
						color: white;

						&:hover{
							background-color: rgba(255, 255, 255, 0.075);
						}
					}
			}
		}
	}
}
  /* End of Header */
