
html {
  font-size: 16pt;
  min-height: 100%;
}

body {
  color: white;
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../images/Background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

@import 'header.scss';
@import 'body.scss';
@import 'footer.scss';
