


ul {
	list-style: none;
}

* {
  box-sizing: border-box;
}

/* Header */
#headroot {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: blue;
}

  #headroot #lily-logo {
    width: 8rem;
    height: 8rem;
    line-height: 6rem;
    border: solid 2px white;
    border-radius: 100%;
  }

  #headroot .content {
    border: solid white;
    border-top-width: 1px;
    border-bottom-width: 1px;
    max-width: 100%;
  }

    #header .content .inner {
      padding: 3rem 2rem;
      max-height: 40rem;
      overflow: hidden;
    }

    #header .content p {
      text-transform: uppercase;
      letter-spacing: 0.2rem;
      font-size: 0.8rem;
      line-height: 2;
    }

    #header nav ul li {
      padding-left: 0;
      border-left: solid 1px white;
    }

      #header nav ul li a {
        display: block;
        min-width: 7.5rem;
        height: 2.75rem;
        line-height: 2.75rem;
        padding: 0 1.25rem 0 1.45rem;
        text-transform: uppercase;
        letter-spacing: 0.2rem;
        font-size: 0.8rem;
        border-bottom: 0;
      }
  /* End of Header */
