
html {
  font-size: 16pt;
}

body {
  background-image: url('https://cdn.discordapp.com/attachments/472209861967347712/855967062044573696/xingchen_vocaloid_drawn_by_bison_cangshu__08b004843af28255e2c1a7060c4ecb09.png');
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

@import 'header.scss';
@import 'body.scss';
@import 'footer.scss';
